<!-- tour-detail.component.html -->
<div *ngIf="tour">
  <h1>{{ tour.title }}</h1>
  <p>{{ tour.description }}</p>

  <h2>Key Points</h2>
  <ul>
    <li *ngFor="let kp of tour.keyPoints">
      <h3>{{ kp.title }}</h3>
      <p>{{ kp.description }}</p>
      <p>Location: ({{ kp.latitude }}, {{ kp.longitude }})</p>
      <img *ngIf="kp.imageUrl" [src]="getImageUrl(kp.imageUrl)" alt="Key Point Image" width="100">
    </li>
  </ul>

  <button (click)="showAddKeyPointForm()">Add Key Point</button>

  <div *ngIf="showForm">
    <h3>New Key Point</h3>
    <form (ngSubmit)="addKeyPoint()" #keyPointForm="ngForm" enctype="multipart/form-data">
      <label for="title">Title:</label>
      <input id="title" [(ngModel)]="newKeyPoint.title" name="title" required>
      
      <label for="description">Description:</label>
      <textarea id="description" [(ngModel)]="newKeyPoint.description" name="description" required></textarea>
      
      <label for="latitude">Latitude:</label>
      <input id="latitude" type="number" [(ngModel)]="newKeyPoint.latitude" name="latitude"  required step="0.01">

      <label for="longitude">Longitude:</label>
      <input id="longitude" type="number"[(ngModel)]="newKeyPoint.longitude" name="longitude"  required step="0.01">
      
      <label for="image">Image:</label>
      <input id="image" type="file" (change)="onImageSelected($event)">
      
      <button type="submit">Add</button>
    </form>
  </div>
  <app-tour-map [keyPoints]="tour.keyPoints"></app-tour-map>
</div>
