<nav>
  <a routerLink="/register">Register</a>
  <a routerLink="/login">Login</a>
  <a routerLink="/add-tour">Add Tour</a>
  <a routerLink="/tours">View Tours</a>
  <a routerLink="/add-keypoint">Add Keypoint</a>
  <a routerLink="/cart">Cart</a>
  <a routerLink="/user-management">User Management</a>
  <a routerLink="/report-issues">Report Issues</a>
  <a routerLink="/reported-problems">Reported Issues</a>
  <a routerLink="/purchased-tours">Purchased Tours</a>
  <a routerLink="/author-problems">Problems for Tours</a>
  

</nav>
<router-outlet></router-outlet>
