<table>
    <thead>
      <tr>
        <th>Username</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.username }}</td>
        <td>{{ user.isBlocked ? 'Blocked' : 'Active' }}</td>
        <td>
          <button (click)="blockUser(user.id)" *ngIf="!user.isBlocked">Block</button>
          <button (click)="unblockUser(user.id)" *ngIf="user.isBlocked">Unblock</button>
        </td>
      </tr>
    </tbody>
  </table>
  